@if (step1) {
   <p class="formName">Forgot your password</p>
<form [formGroup]="forgetPasswordForm" (ngSubmit)="fogetPasswordSumbit()">
   <input type="email"class="form-control" formControlName="email" placeholder="Enter Email"/>
   <app-error-message [control]="forgetPasswordForm.get('email')"></app-error-message>

   <a >Recover Password?</a>
   <button  type="submit"  class="btn btn-primary btn-block mb-4 w-100">Sign in</button>
</form>
}

@if (step2) {
   <p class="formName">Verify Code</p>
<form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCodeSumbit()">
   <input type="text"class="form-control" formControlName="resetCode" placeholder="Enter Code"/>
   <app-error-message [control]="verifyCodeForm.get('resetCode')"></app-error-message>

   <p class="login">Don't recieve a code?<a routerLink="/auth/recoverPassword" (click)="ResendCode()">Resend</a></p>
   <button  type="submit"  class="btn btn-primary btn-block mb-2 w-100">Verify</button>
</form>
}
@if (step3) {
   <p class="formName">Set a Password</p>
   <form [formGroup]="setPasswordForm" (ngSubmit)="setPasswordSumbit()">
      <div class="pass">
         <input [type]="!togglePass?'password':'text'"   class="form-control" formControlName="newPassword" placeholder="Confirm Password" />
             @if (togglePass) {
               <span (click)="togglePassword()" class="password-toggle-icon"><i class="fa-solid fa-eye-slash"></i></span>
             }@else {<span (click)="togglePassword()" class="password-toggle-icon"><i class="fa-solid fa-eye"></i></span>
             }
         </div>
         <app-error-message [control]="setPasswordForm.get('newPassword')"></app-error-message>
    
         <div class="pass">
            <input [type]="!togglePass?'password':'text'"   class="form-control" formControlName="rePassword" placeholder="Confirm Password" />
                @if (togglePass) {
                  <span (click)="togglePassword()" class="password-toggle-icon"><i class="fa-solid fa-eye-slash"></i></span>
                }@else {<span (click)="togglePassword()" class="password-toggle-icon"><i class="fa-solid fa-eye"></i></span>
                }
         </div>
         
         <app-error-message [control]="setPasswordForm.get('rePassword')"></app-error-message>
         
         @if (setPasswordForm.getError("mismatch")) {
              <span class="font-medium text-danger">password not match!</span> 
         }
        
      
        <button  type="submit"  class="btn btn-primary btn-block mb-4 w-100">Sign in</button>
     
       
   </form>
}